m_quotes: m_quotes {
    compatible = "zmk,behavior-macro";
    label = "m_quotes";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};

m_dquotes: m_dquotes {
    compatible = "zmk,behavior-macro";
    label = "m_dquotes";
    #binding-cells = <0>;
    bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};

m_braces: m_braces {
    compatible = "zmk,behavior-macro";
    label = "m_braces";
    #binding-cells = <0>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};

m_parens: m_parens {
    compatible = "zmk,behavior-macro";
    label = "m_parens";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};

m_brackets: m_brackets {
    compatible = "zmk,behavior-macro";
    label = "m_brackets";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};

m_type_username: m_type_username {
    compatible = "zmk,behavior-macro";
    label = "m_type_username";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <
        &kp J &kp B &kp A &kp Y &kp A &kp R &kp D &kp O
    >;
};

m_type_name: m_type_name {
    compatible = "zmk,behavior-macro";
    label = "m_type_name";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <
        &kp J &kp U &kp L &kp I &kp A &kp N
    >;
};

m_type_last_name: m_type_last_name {
    compatible = "zmk,behavior-macro";
    label = "m_type_last_name";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <
        &kp B &kp A &kp Y &kp A &kp R &kp D &kp O
        &kp SPACE
        &kp S &kp P &kp A &kp D &kp A &kp F &kp O &kp R &kp A
    >;
};

m_type_email_p1: m_type_email_p1 {
    compatible = "zmk,behavior-macro";
    label = "m_type_email_p1";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <
        &kp J &kp U &kp L &kp I &kp A &kp N
        &kp AT_SIGN
        &kp B &kp A &kp Y &kp A &kp R &kp D &kp O
        &kp DOT
        &kp I &kp N &kp F &kp O
    >;
};

m_type_email_p2: m_type_email_p2 {
    compatible = "zmk,behavior-macro";
    label = "m_type_email_p2";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <
        &kp B &kp A &kp Y &kp A &kp R &kp D &kp O
        &kp J &kp U &kp L &kp I &kp A &kp N
        &kp AT_SIGN
        &kp G &kp M &kp A &kp I &kp L
        &kp DOT
        &kp C &kp O &kp M
    >;
};

m_type_username_w: m_type_username_w {
    compatible = "zmk,behavior-macro";
    label = "m_type_username_w";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <
        &kp J &kp U &kp B &kp A &kp Y &kp A &kp R &kp D
    >;
};

m_type_email_w: m_type_email_w {
    compatible = "zmk,behavior-macro";
    label = "m_type_email_w";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <40>;
    bindings = <
        &kp J &kp U &kp B &kp A &kp Y &kp A &kp R &kp D
        &kp AT_SIGN
        &kp M &kp I &kp C &kp R &kp O &kp S &kp O &kp F &kp T
        &kp DOT
        &kp C &kp O &kp M
    >;
};